---
import "../styles/global.css";
const {
  title = "Mentoria de Carreira para Devs | Com Kamila Santos",
  description = "Mentoria prática para programadores que querem acelerar sua carreira e se destacar com posicionamento e autoridade digital.",
} = Astro.props;
const pixelId = import.meta.env.PUBLIC_META_PIXEL_ID;
---

<html lang='pt-BR' class='text-zinc-100'>
  <head>
    <meta charset='UTF-8' />
    <meta name='theme-color' content='#9333ea' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='description' content={description} />
    <meta
      name='keywords'
      content='mentoria, carreira, dev, programador, mentor, mentoria de carreira, mentoria para devs, mentoria para programadores, mentoria para carreira, mentoria para desenvolvedores, mentoria para devs, mentoria para programadores, carreira para devs, carreira para programadores, dev para mentor, programador para mentor, carreira para mentor, desenvolvedor para mentor, dev para carreira, programador para carreira, dev para carreira, programador para carreira'
    />
    <meta name='author' content='Kamila Santos' />
    <title>{title}</title>

    <meta property='og:type' content='website' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <!-- TODO: Adicionar URL -->
    <meta property='og:url' content='https://mentoria.kamilasantos.dev/' />
    <!-- TODO: Adicionar URL -->
    <meta property='og:image' content='/public/og-image.png"' />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <!-- todo: adicionar URL -->
    <meta name='twitter:url' content='ttps://mentoria.kamilasantos.dev/' />
    <!-- todo: adicionar URL -->
    <meta name='twitter:image' content='/public/og-image.png' />

    <!-- Fontes -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'
      rel='stylesheet'
    />

    <!-- Favicon -->
    <link rel='canonical' href='https://mentoria.kamilasantos.dev/' />
    <link rel='icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png' />
    <link rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png' />
    <link rel='icon' type='image/png' sizes='48x48' href='/favicon-48x48.png' />
    <link rel='icon' type='image/png' sizes='64x64' href='/favicon-64x64.png' />
    <link rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png' />
    <link
      rel='icon'
      type='image/png'
      sizes='128x128'
      href='/favicon-128x128.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='256x256'
      href='/favicon-256x256.png'
    />

    <link rel='sitemap' href='/sitemap.xml' />
    <link rel='manifest' href='/manifest.webmanifest' />
    
    <!-- Meta Pixel Code -->
    <script set:html={`
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', ${pixelId}); 
      fbq('track', 'PageView');
    `} />    
    <noscript>
      <img height="1" width="1" style="display:none"
        src=`https://www.facebook.com/tr?id=${pixelId}&ev=PageView&noscript=1`
      />
    </noscript>
    <!-- End Meta Pixel Code -->
    
  </head>

  <body class='text-zinc-100 font-sans flex flex-col min-h-screen bg-soft-dark'>
    <main class='relative overflow-x-hiddenflex flex-grow'>
      <slot />
    </main>

    <!-- Footer -->
    <footer class='text-sm text-zinc-500 text-center py-6'>
      © {new Date().getFullYear()} Kamila Santos - KamilaCode® — Todos os direitos
      reservados
    </footer>
  </body>
</html>
